// Colors
$text: #35495d;
$text-muted: lighten($text, 25%);

$border: #f8f8fc;
$theme: #1d74bf;
$danger: #ff0101;
$light_text: #a7a7a7;
$light_background: #f6f6f6;
$shadow: 0 7px 25px 1px rgba(0, 0, 0, 0.12);
